[Unit]
Description=Check for new mail
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.config/mail/mailcheck.sh
