* {
  font-family: "JetBrains Mono Nerd Font", sans-serif;
  font-size: 14px;
}

window#waybar {
  background-color: transparent;
  border-bottom: none;
  color: @theme_selected_bg_color;
}

tooltip {
  background: alpha(@theme_bg_color, 0.85);
}

.modules-center,
.modules-left,
.modules-right {
  background: alpha(@theme_bg_color, 0.85);
  padding: 4px 14px;
  margin: 8px 8px 0px;
  border-radius: 30px;
}
