@define-color lavender #b4befe;
@define-color mantle #181825;

* {
  font-family: "JetBrains Mono Nerd Font", sans-serif;
  font-size: 14px;
}

window#waybar {
  background-color: transparent;
  border-bottom: none;
  color: @lavender;
}

tooltip {
  background: alpha(@mantle, 0.85);
}

.modules-center,
.modules-left,
.modules-right {
  background: alpha(@mantle, 0.85);
  padding: 4px 14px;
  margin: 8px 8px 0px;
  border-radius: 30px;
}
